*{
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding:0;
}
.about h1::after, .brands h1::after, .contact h1::after, .maintenance h1::after{
  content: '';
  background: black;
  width: 4%;
  height: 2px;
  margin: 12px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.services h1::after{
  content: '';
  background: white;
  width: 2%;
  height: 2px;
  margin: 12px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container{
  display: block;
  text-align: center;
}
.container::after{
  content: "";
  clear: both;
  display: table;
}
nav{
  background-color: #fff;
}
nav .container{
  /*background-color: #096185;*/
  height:70px;
  position: sticky;
}
nav ul{
  margin:0;
  text-align: center;
  padding: 5px 0;
}
nav.sticky{
  background-color: rgba(9, 97, 133,0.5);
  height:70px;
  position: fixed;
  top:0;
  width:100%;
  color: white;
  font-weight: 400;
}
nav.sticky ul li:hover{
  font-weight: 500;
  cursor:pointer;
  color: #096185;
  background-color: white;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  font-size: 1.2em;
  margin:0.5%;
  border-radius: 10px 0 10px 0;
}
nav ul li:hover{
  font-weight: 500;
  cursor:pointer;
  background-color: #096185;
  color: white;
}
nav a{
  text-decoration: none;
  color: inherit;
}

.dropdown-content{display:none;
  position:absolute;
  color: #096185;
  background-color:#f9f9f9;
  min-width:120px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
  z-index:1;
  border-radius:10px}
nav ul .dropdown .dropdown-content a{
  line-height:40px}
nav.sticky ul .dropdown .dropdown-content a:hover{
  color:#fff}
.dropdown-content:hover{
  padding-top:1px;border-radius:10px;}
.dropdown-content a{
  font-size:14px;
  padding:0 16px;
  text-decoration:none;
  display:block;
  text-align:right}
.dropdown-content a{
  border-bottom:1px solid #f0f0f0}
.dropdown-content #lastItem{
  border-bottom:0 solid #f0f0f0}
.dropdown-content a:hover{
  background-color:#096185;color: #fff;}
.dropdown-content a:hover{
  border-radius:10px}
nav ul .dropdown:hover .dropdown-content{
  display:block}

.cover{
  background-color: #fff;
}
.cover .container img{
  background-size: cover;
  width:100%;
}
.about,.services,.brands,.contact{
  padding:15px 0 15px;
}
.about .container{
  padding: 0 5%;
}
.about .container .row .box-2{
  width:60%;
  display: inline-block;
  float: right;
}
.about .container .row .box-2 ul{
  text-align: right;
  list-style: none;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
.about .container .row .box-2 ul li{
  text-align: justify;
}
.about .container .row .box-2 ul li:before {
  content: '✓';
}
.about .container .row .box-2 .btn{
background-color: #0A6487;
color: #fff;
font-size: 1em;
padding: 10px;
text-decoration: none;
font-weight: 400;
border: 3px solid #0A6487;
border-radius: 10px 0 10px;
display: inline-block;
margin-top: 20px;
}
.about .container .row .box-2 .btn:hover{
color: #0A6487;
background-color: #fff;
font-size: 1em;
padding: 10px;
text-decoration: none;
font-weight: 600;
border: 3px solid #0A6487;
border-radius: 10px 0 10px;
display: inline-block;
margin-top: 20px;
}
.about .container .row .box-1{
  width:40%;
  display: inline-block;
  float: right;
}
.about .container .row .box-1 img{
background-size: cover;
width:100%;
height: 100%;
}
.services{
  background-color: #096185;
  color: #fff;
  padding: 15px 0 40px;
}
.services .row, .contact .row{
  padding: 15px 5%;
}
.services h1,.contact h1{
  margin: 0;
  padding: 25px 0 10px;
}
.services .row .box-3{
  width:14.66%;
  margin: 0 1%;
  background-color: #f7f7f7;
  color: #096185;
  border-radius: 8px;
  display: inline-block;
  float: right;
  border-right: 1px solid #f7f7f7;
  border-left: 1px solid #f7f7f7;
}
.services ul li{
  font-size: 18px;
  text-align: justify;
  line-height: 32px;
  list-style-type: disc;

}
.services ul li a{
  color:red;
  text-decoration: none;
}
.brands .container{
  padding: 0 5%;
}

.brands .container .row .box{
  width: 20%;
  margin:2.5%;
  display: inline-block;
  float:left;
}

.brands .container .row .box img{
  width: 100%;
  background-size: cover;
  height:100px;
}
.contact{
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
.contact .container .row .box:nth-child(1){
  text-align: justify;
  width: 40%;
  float: right;
  display: inline-block;
}
.contact h3{
  font-size: 24px;
}
.contact p{
  font-size: 20px;
  text-align: justify;
}
.contact .container .row .box:nth-child(2){
  width: 60%;
  float: right;
  display: inline-block;
}
.contact .container .row .box .fas{
  font-size: 24px;
  color: #096185;
  float: right;
  display: inline-block;
  margin-left: 10px;

}
.contact .container .row .box .fa-whatsapp-square,.contact .container .row .box .fa-facebook{
  font-size: 30px;
  float: right;
  display: inline-block;
  margin-left: 10px;
}
.contact .container .row .box .fa-whatsapp-square{
  color: #31C76A;
}
.contact .container .row .box .fa-facebook{
  color: #4267B2;
}
.contact .container .row .box .fa-facebook:hover{
  background: #4267B2;
  color: white;
}
.contact a{
  text-decoration: none;
  color: black;
}
.footer{
  background-color: black;
  color:white;
}
.footer p{
  margin: 0;
  padding:14px 0;
}


/* fridge page*/
.maintenance .container{
  margin: 50px 0;
}
.maintenance .container .row-row{
  background-color: #f7f7f7;

  margin: 2em 10%;
}
.maintenance .container .row-row .box-2{
  width:60%;
  display: inline-block;
  float: right;
  text-align: justify;
  padding: 1em 2em 0;
  line-height: 32px;
}
.maintenance .container .row-row .box-1{
  width:40%;
  display: inline-block;
  float: right;
}
.maintenance .container .row-row .box-1 img{
background-size: cover;
width: 100%;
height: 100%;
padding: 16px;
}

.fixed .whats img{
  position: fixed;
  bottom: 30px;
  left: 30px;
  width:55px;
  height: 55px;
}
.fixed .facebook img{
  position: fixed;
  bottom: 100px;
  left: 30px;
  width:60px;
  height: 60px;
}

@media (max-width:991px){
  nav.container{
    height: 90px;
  }
  nav.sticky{
    height: 90px;
  }
  nav ul li{
    font-size: 120%;
    padding: 20px;
  }
  .about .container .row .box-2{
    width:100%;
    padding: 0 5%;
  }
  .about .container .row .box-1{
    display: none;
  }
  .maintenance .container .row-row .box-2,.maintenance .container .row-row .box-1 {
    float: none;
    display: block;
    width: 100%;
  }
  .maintenance .container .row-row .box-2 h2{
    text-align: center;
  }
  .contact .container .row{
    padding: 0 8%;

  }
  .contact .container .row .box:nth-child(1),.contact .container .row .box:nth-child(2){
    float: none;
    display: block;
    width: 100%;

  }
  .contact .container .row .box:nth-child(1) .x{
    float: right;
    display: inline-block;
    width: 45%;
  }
  .contact .container .row .x p{
    font-weight: bold;
  }
  .contact .container .row .y p,.contact .container .row .y h3{
    font-size: 100%;
  }
  .contact .container .row .box:nth-child(1) .y{
    display: inline-block;
    float: left;
    width: 55%;
  }


}
